.card {
  background: white;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #555;
}

select, button {
  width: 100%;
  margin-top: 6px;
}

button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px;
}
